/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
html, body, app-root {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Medium.ttf) format("opentype");
}

.container {
    min-height: calc(100vh - 112px);
}
.container-xl {
    min-height: calc(100vh - 112px);
}

body{
    background-color:#f4f6f9;
}
