<app-nav-bar></app-nav-bar>
<div class="container fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-sm mb-lg-4">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-card-text me-1"></i>
                    Formulario
                </div>
                <!-- /.card-header -->
                <form #form="ngForm" (ngSubmit)="crearJugador(form)" novalidate>
                    <div class="card-body">
                        <!--group nombre-->
                        <div class="form-group">
                            <label for="">Nombres</label>
                            <input type="text" class="p-inputtext form-control mt-2" name="nombreJug" id="nombreJug"
                                placeholder="Ingrese los nombres del jugador" [(ngModel)]="nuevoJugador.nombres"
                                #nombre="ngModel" required minlength="3" pattern="{{ patronLetras }}" />
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.minlength" severity="error" text="Debe tener al menos 3 letras"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        </div>
                        <!--fin group nombre-->
                        <!--group apellidos-->
                        <div class="form-group mt-2">
                            <label for="">Apellidos</label>
                            <input type="text" class="p-inputtext form-control mt-2" name="apellidoJug" id="apellidoJug"
                                placeholder="Ingrese el apellido del jugador" [(ngModel)]="nuevoJugador.apellidos"
                                #apellido="ngModel" required minlength="4" pattern="{{ patronLetras }}" />
                            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                                <p-message styleClass="m-1" *ngIf="apellido.errors?.required" severity="error" text="El apellido es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="apellido.errors?.minlength" severity="error" text="De contener al menos 4 letras"></p-message>
                                <p-message styleClass="m-1" *ngIf="apellido.errors?.pattern" severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        </div>
                        <!--fin group apellidos-->
                        <!--group documento-->
                        <div class="form-group mt-2">
                            <label for="">Documento</label>
                            <input type="text" class="p-inputtext form-control mt-2" pKeyFilter="pint"
                                name="documentoJug" id="documentoJug" placeholder="Ingrese el documento del jugador"
                                [(ngModel)]="nuevoJugador.documento" #dni="ngModel" required minlength="7" />
                            <div *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                                <p-message styleClass="m-1" *ngIf="dni.errors?.required" severity="error" text="El documento es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="dni.errors?.minlength" severity="error" text="Debe tener al menos 7 digitos"></p-message>
                            </div>
                        </div>
                        <!--fin group documento-->

                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <!--group Fecha Nacimiento-->
                                    <label class="m-2" for="fechaNac">Fecha de Nacimiento</label><br/>
                                    <p-calendar class="mt-2" inputId="basic" [(ngModel)]="fechaNac"
                                        [maxDate]="fechaActual" [ngModelOptions]="{ standalone: true }"
                                        [required]="true" yearRange="1930:2030" [showIcon]="true"></p-calendar>
                                    <!--fin group Fecha Nacimiento-->
                                </div>
                                <div class="col-6">
                                    <!--group Fecha inscripcion-->
                                    <label class="m-2" for="fechaNac">Fecha de inscripción</label><br/>
                                    <p-calendar class="mt-2" inputId="basic" [(ngModel)]="fechaInsc"
                                        [maxDate]="fechaActual" [minDate]="fechaNac"
                                        [ngModelOptions]="{ standalone: true }" [required]="true" yearRange="1930:2030"
                                        [showIcon]="true"></p-calendar>
                                    <!--fin group Fecha inscripcion-->
                                </div>
                            </div>
                        </div>
                        <!-- inicio group club-->
                        <div class="form-group mt-2">
                            <label class="mb-2" for="fechaNac">Selecciona el club</label><br />
                            <select class="form-select" [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="nuevoJugador.idClub" aria-label=".form-select-sm example" required>
                                <option [value]="club.id" *ngFor="let club of clubes">
                                    {{ club.nombreClub }}
                                </option>
                            </select>
                        </div>
                        <!-- fin group club-->
                    </div>
                    <div class="card-footer mt-2">
                        <div class="d-flex justify-content-between">
                            <button pButton type="button" class="p-button-danger p-button-rounded p-button-text"
                                label="Cancelar" icon="pi pi-times" routerLink="/jugadores/lista"></button>
                            <button pButton class="p-button-primary p-button-rounded p-button-raised"
                                label="Crear Jugador" icon="pi pi-check"
                                [disabled]="!form.valid || nuevoJugador.idClub == 0"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- fin container-->
<app-footer></app-footer>