<p-table *ngIf="goleadores.length > 0" [value]="goleadores" responsiveLayout="scroll" styleClass="text-sm"
[scrollable]="true" scrollHeight="250px">
    <ng-template pTemplate="body" let-goleador>
        <tr>
            <td style="max-width: 200px;" class="text-center">{{goleador.apellidos}}, {{goleador.nombre}}</td>
            <td style="max-width: 300px;" class="text-center">{{goleador.nombreClub}}</td>
            <td style="max-width: 50px;" class="font-bold text-center">{{goleador.goles}}</td>
        </tr>
    </ng-template>
</p-table>
<p-message styleClass="m-1" *ngIf="goleadores.length === 0" severity="info" text="No existen goleadores"></p-message>

