<app-nav-bar></app-nav-bar>
<div class="container fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm mb-lg-4">
                <div class="card-header bg-primary text-white">
                    <i class=" bi bi-card-text me-1"></i>
                    Editar club
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form #form = "ngForm" (ngSubmit) = "editarClub(club.id)" novalidate>
                    <div class="card-body">
                        <!--group nombre-->
                        <div class="form-group mt">
                            <label for="">Nombre del Club</label>
                            <input type="text" class="p-inputtext form-control mt-2" value="club.nombreClub" name="nombreClub" id="nombreClub" placeholder="Ingrese el nombre del club" [(ngModel)]="club.nombreClub"  #nombre = "ngModel" required minlength="8" pattern={{patron}}>
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombre.errors?.pattern"    severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        </div>
                        <!--fin group nombre-->
                        <!--group alias club-->
                        <div class="form-group mt-2">
                            <label for="labelAlias">Alias del Club</label>
                            <input type="text" class="p-inputtext form-control mt-2" value="club.alias" name ="aliasClub"id="aliasClub"  placeholder="Ingrese el alias o apodo del club" [(ngModel)]="club.alias" #alias = "ngModel" required minlength="2" pattern={{patron}}>
                            <div *ngIf="alias.invalid && (alias.dirty || alias.touched)">
                                <p-message styleClass="m-1" *ngIf="alias.errors?.required"  severity="error" text="El alias es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="alias.errors?.minlength" severity="error" text="Debe tener al menos 2 caracteres"></p-message>
                                <p-message styleClass="m-1" *ngIf="alias.errors?.pattern"    severity="error" text="Solo se permiten letras"></p-message>
                            </div>
                        </div>
                        <!--fin group alias-->
                        
                        <!--group email-->
                        <div class="form-group mt-2">
                            <label for="labelEmail">Email</label>
                            <input type="email"  class="p-inputtext form-control mt-2" value="club.email" name="emailClub" id="emailClub" placeholder="Ingtrese el email del club" [(ngModel)]="club.email" #emailClub ="ngModel" email required>
                            <div *ngIf="emailClub.invalid && (emailClub.dirty || emailClub.touched)">
                                <p-message styleClass="m-1" *ngIf="emailClub.errors?.required"  severity="error" text="El email es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="emailClub.errors?.email"     severity="error" text="Debe tener el formato ejemplo@ejemplo.com"></p-message>
                            </div>
                        </div>
                        <!--fin group email-->
                    </div>
                  <div class="card-footer mb-2">
                      <div class="d-flex justify-content-between">
                        <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text" icon="pi pi-times" label="Cancelar" routerLink="/clubes/lista"></button>
                        <button pButton class="p-button-primary p-button-rounded p-button-raised" icon="pi pi-check" label="Editar Club" [disabled]="!form.valid"></button>
                      </div>
                    
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- fin container-->
<app-footer></app-footer>

