<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" >ADM Competencias</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink = "/usuarios/lista">Usuarios</a>
                </li>
                <!-- menu jugadores -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Jugadores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item">Jugadores</a></li>
                        <li><a class="dropdown-item" href="#">Clubes</a></li>
                        <li><a class="dropdown-item" href="#">Transferencias</a></li>
                        <li><a class="dropdown-item" href="#">Sanciones</a></li>
                    </ul>
                </li>
                <!-- menu torneos-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Competencias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Torneos</a></li>
                        <li><a class="dropdown-item" href="#">Arbitros</a></li>
                    </ul>
                </li>
                <!-- menu configuraciones -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Configuraciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Localidades</a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <!-- fin de menus -->
            </ul>
            <!-- menu de usuario -->
            <ul class="navbar-nav ms-auto d-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{nombreUsuario}}  </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!"> <i
                            class="bi bi-person-fill"></i> Perfil</a></li>
                        <li><a class="dropdown-item" routerLink="/usuarios/perfil/cambiarContraseña"> <i
                            class="bi bi-key-fill"></i> Cambiar Contraseña</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" (click)="logOut()"> <i class="bi-arrow-right-circle-fill"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
            <!-- fin menu usuario-->
        </div>
    </div>
</nav>