<app-nav-bar></app-nav-bar>
<div class="container">
    <h3 class="mt-2">Cambiar Contraseña</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Perfil</li>
        <li class="breadcrumb-item active">Cambiar Contraseña</li>
    </ol>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-lg-4">
                <div class="card-header bg-primary text-white">
                    <i class=" bi bi-card-text me-1"></i>
                    Formulario
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form #form = "ngForm" (ngSubmit) = "cambiarPassword(form)" novalidate>
                    <div class="card-body">
                        <!--group password actual-->
                        <div class="form-group">
                            <label for="labelPasswordActual">Contraseña actual</label>
                            <input type="password" class="form-control mt-2" name ="passwordActual"id="passwordActual"  placeholder="Ingrese su contraseña actual" [(ngModel)]="passwordActual" #passActual = "ngModel" required>
                            <div class="alert-danger rounded mt-2" *ngIf="passActual.invalid && (passActual.dirty || passActual.touched)">
                                <div *ngIf="passActual.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     La contraseña actual es requerida
                                </div>
                            </div>
                        </div>
                        <!--fin group password actual-->
                        <!--group password nueva-->
                        <div class="form-group mt-2">
                            <label for="labelPasswordNuevo">Contraseña nueva</label>
                            <input type="password" class="form-control mt-2" name="passwordNuevo" id="passwordNuevo" placeholder="Ingrese su contraseña nueva" [(ngModel)]="passwordNuevo" #passNuevo = "ngModel" required minlength="8">
                            <div class="alert-danger rounded mt-2" *ngIf="passNuevo.invalid && (passNuevo.dirty || passNuevo.touched)">
                                <div *ngIf="passNuevo.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El usuario es requerido
                                </div>
                                <div *ngIf="passNuevo.errors?.minlength">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                      La contraseña debe tener un minimo de 8 caracteres
                                 </div>
                            </div>
                        </div>
                        <!--fin group password nueva-->
                        <!--group repetirPassword-->
                        <div class="form-group mt-2">
                            <label for="labelRepetirPassword">Repetir Contraseña</label>
                            <input type="password" class="form-control mt-2" name="repetirPassword" id="repetirPassword" placeholder="Repita su contraseña" ngValidateEqual ="passwordNuevo" [(ngModel)]="repetirPassword" #repetirPass ="ngModel" required minlength="8">
                            <div class="alert-danger rounded mt-2" *ngIf="repetirPass.invalid && (repetirPass.dirty || repetirPass.touched)">
                                <div *ngIf="repetirPass.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El usuario es requerido
                                </div>
                                <div *ngIf="repetirPass.errors?.minlength">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                      La contraseña debe tener un minimo de 8 caracteres
                                 </div>
                                 <div *ngIf="repetirPass.errors?.notEqual">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                        Debe coincidir con la contraseña nueva
                                 </div>
                            </div>
                        </div>
                        <!--fin group repetirPassword-->
                    </div>
                  <div class="card-footer mb-2 text-center">
                    <button class="btn btn-success" [disabled]="!form.valid">Cambiar Contraseña</button>
                    
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>