<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" >ADM Competencias</a>
        
    </div>
</nav>
<!-- contenido-->
<div class="container">
    <h3 class="mt-2">Recuperar Contraseña</h3>
        <ol class="breadcrumb mb-4 bg-se">
            <li class="breadcrumb-item">Usuarios</li>
            <li class="breadcrumb-item active">Cambiar contraseña</li>
        </ol>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow mb-lg-4">
                    <div class="card-header bg-primary text-white">
                        <i class=" bi bi-card-text me-1"></i>
                        Formulario
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form #form = "ngForm" (ngSubmit) ="cambiarPassword(form)"  novalidate>
                        <div class="card-body">
                            <!--group nombre usuario-->
                            <div class="form-group">
                                <label for="label usuario">Nombnre usuario</label>
                                <input type="text" class="form-control mt-2" name ="NombreUsuario" value = {{nombreUsuario}} disabled>
                            </div>
                            <!--fin nombre usuario-->
                            <!--group correo-->
                            <div class="form-group mt-2">
                                <label for="labelCorreo">Correo</label>
                                <input type="text" class="form-control mt-2" name="Correo" value= {{email}} disabled>
                            </div>
                            <!--fin group correp-->
                            <!--group password nueva-->
                        <div class="form-group mt-2">
                            <label for="labelPasswordNuevo">Contraseña nueva</label>
                            <input type="password" class="form-control mt-2" name="password" id="password" placeholder="Ingrese su contraseña nueva" [(ngModel)]="password" #passNuevo = "ngModel" required minlength="8">
                            <div class="alert-danger rounded mt-2" *ngIf="passNuevo.invalid && (passNuevo.dirty || passNuevo.touched)">
                                <div *ngIf="passNuevo.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El usuario es requerido
                                </div>
                                <div *ngIf="passNuevo.errors?.minlength">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                      La contraseña debe tener un minimo de 8 caracteres
                                 </div>
                            </div>
                        </div>
                        <!--fin group password nueva-->
                        <!--group confirmarPassword-->
                        <div class="form-group mt-2">
                            <label for="labelRepetirPassword">Repetir Contraseña</label>
                            <input type="password" class="form-control mt-2" name="confirmarPassword" id="confirmarPassword" placeholder="Repita su contraseña" ngValidateEqual ="password" [(ngModel)]="confirmarPassword" #repetirPass ="ngModel" required minlength="8">
                            <div class="alert-danger rounded mt-2" *ngIf="repetirPass.invalid && (repetirPass.dirty || repetirPass.touched)">
                                <div *ngIf="repetirPass.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El usuario es requerido
                                </div>
                                <div *ngIf="repetirPass.errors?.minlength">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                      La contraseña debe tener un minimo de 8 caracteres
                                 </div>
                                 <div *ngIf="repetirPass.errors?.notEqual">
                                    <i class=" ms-1 bi-x-circle-fill"></i>
                                        Debe coincidir con la contraseña nueva
                                 </div>
                            </div>
                        </div>
                        <!--fin group confirmarPassword-->
                        </div>
                      <!-- footer card-->  
                      <div class="mb-2 text-center">
                        <button class="btn btn-success" [disabled]="!form.valid">Cambiar Contraseña</button>
                        
                      </div>
                      
                      <!-- fin footer card-->
                    </form>
                    <div class=" mb-2 text-center">
                        <button class="btn btn-danger" routerLink="/login">Volver a inicio de sesión</button>
                      </div>
                </div>
            </div>
        </div>    
</div>

<!-- fin contenido-->

<app-footer></app-footer>