<app-nav-bar></app-nav-bar>
<!-- inicio container-->
<div class="container-lg fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
      <p-card styleClass="shadow-1 mb-4" header="Listado de Clubes">
        <p-table #dt [value]="clubes" styleClass="p-datatable-striped p-datatable-sm" dataKey="id" [rows]="5"
          [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15,20,40]" [loading]="loading" [rowHover]="true"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
          [filterDelay]="0">
          <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <div>
                    <button pRipple pButton class="p-button-sm p-button-rounded me-1" *ngIf="isAdmin || isEncargadoJugadores" icon="bi bi-plus-circle" label="Nuevo Club"  routerLink="/clubes/nuevo"></button>
                    <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1"  icon="pi pi-filter-slash" label="Limpiar Filtros" (click)="clear(dt)"></button>

                </div>
                <!--<div>
                    <button pButton class="p-button-danger p-button-sm me-1"  icon="pi pi-file-pdf" pTooltip="Exportar a PDF" tooltipPosition="top" (click)="exportarPdf(dt)"></button>
                    <button pButton class=" p-button-success p-button-sm me-1" icon="pi pi-file-excel" pTooltip="Exportar a Excel" tooltipPosition="bottom" (click)="exportarExcel(dt)"></button>
                </div>-->
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="text-center">
                <!--column Id-->
                <th class="text-center" pSortableColumn="id">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Id
                        <p-sortIcon field="id"></p-sortIcon>
                        <p-columnFilter type="numeric" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <!--column nombreClub-->
                <th class="text-center" pSortableColumn="nombreClub">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nombre
                        <p-sortIcon field="nombreClub"></p-sortIcon>
                        <p-columnFilter type="text" field="nombreClub" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                <!-- column alias-->
                <th class="text-center" pSortableColumn="alias">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Alias
                    <p-sortIcon field="alias"></p-sortIcon>
                    <p-columnFilter type="text" field="alias" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>                        
                </th>
                <!-- column email-->
                <th class="text-center" pSortableColumn="email">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Email
                    <p-sortIcon field="email"></p-sortIcon>
                    <p-columnFilter type="text" field="email" display="menu" class="p-ml-auto"></p-columnFilter>
                  </div>        
                </th>
                <!-- columna acciones-->
                <th class="text-center" *ngIf="isAdmin || isEncargadoJugadores">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-club>
            <tr>
              <td>{{club.id}}</td>
              <td style="max-width: 250px;" class="line-height-2">{{club.nombreClub}}</td>
              <td>{{club.alias}}</td>
              <td style="max-width: 200px;" class="line-height-2">{{club.email}}</td>
              <td class="text-center" *ngIf="isAdmin || isEncargadoJugadores">
                <button pButton class="p-button-success p-button p-button-rounded p-button-raised p-button-text me-1" icon="fas fa-running" routerLink="/clubes/{{club.id}}/jugadores" pTooltip="Ver Jugadores" tooltipPosition = "top">
                    <!--<i class="fas fa-running"></i>-->
                </button>
                <button pButton class="p-button-primary p-button-rounded p-button-raised p-button-text me-1" icon="pi pi-pencil" routerLink="/clubes/detalle/{{club.id}}" pTooltip="Editar" tooltipPosition="top">
                    <!--<i class="fas fa-edit"></i>-->
                </button>
                <button pButton class="p-button-danger p-button-rounded p-button-raised p-button-text" icon="pi pi-trash" (click)="eliminarClub(club.id)" pTooltip="Eliminar" tooltipPosition = "top">
                    <!--<i class="fas fa-trash"></i>-->
                </button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" colspan="8">No se encontraron registros.</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
        <p-scrollTop></p-scrollTop>
    </div>
</div>

<app-footer></app-footer>