.image-fondo{
    background-image: url("src/assets/imagenes/fondo1.jpg");
    position: fixed;
    height: 110%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    
}