<app-nav-bar></app-nav-bar>
<div class="container-xl">

    <div class="row">
		<div class="col-md-12 mt-2">
            <!--<h3>Crear Usuario</h3>-->

            <ol class="breadcrumb mb-4 mt-2">
                <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/usuarios/lista">Usuarios</a></li>
                <li class="breadcrumb-item active">Nuevo</li>
            </ol>
			<div class="row" >
                <!-- div parte izquierda de pantalla-->
				<div class="col-md-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow mb-lg-4">
                                <div class="card-header bg-primary text-white">
                                    <i class="bi bi-card-text me-1"></i>
                                    Formulario
                                </div>
                                <!--form nuevo usuario-->
                                <form #formUsuario = ngForm (ngSubmit)= "guardarUsuario(formUsuario)" novalidate>
                                <div class="card-body">
                                        <!--group nombre -->
                                        <div class="form-group">
                                            <label for="labelNombre">Nombre</label>
                                            <input type="text"  class="p-inputtext form-control mt-2" name ="nombre"id="nombre"  placeholder="Ingrese el nombre" [(ngModel)]="nombreUsuario" #nombreUs = "ngModel" pattern={{patronLetras}} minlength="3" required>
                                            <div class="alert-danger rounded mt-2" *ngIf="nombreUs.invalid && (nombreUs.dirty || nombreUs.touched)">
                                                <div *ngIf="nombreUs.errors?.required">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                    El nombre es requerido
                                                </div>
                                                <div *ngIf="nombreUs.errors?.pattern">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                        Solo se permiten letras
                                                </div>
                                                <div *ngIf="nombreUs.errors?.minlength">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                        El nombre debe tener al menos 3 caracteres
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin group nombre-->
                                        <!--group apellido-->
                                        <div class="form-group mt-2">
                                            <label for="labelApellido">Apellidos</label>
                                            <input type="text" class="p-inputtext form-control mt-2" name ="apellido"id="apellido"  placeholder="Ingrese el apellido" [(ngModel)]="apellidoUsuario" #apellidoUs = "ngModel" pattern={{patronLetras}} minlength="3" required>
                                            <div class="alert-danger rounded mt-2" *ngIf="apellidoUs.invalid && (apellidoUs.dirty || apellidoUs.touched)">
                                                <div *ngIf="apellidoUs.errors?.required">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                    El apellido es requerido
                                                </div>
                                                <div *ngIf="apellidoUs.errors?.pattern">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                        Solo se permiten letras
                                                </div>
                                                <div *ngIf="apellidoUs.errors?.minlength">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                        El apellido debe tener al menos 3 caracteres
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin group apellido-->
                                        <!--group email-->
                                        <div class="form-group mt-2">
                                            <label for="labelEmail">Email</label>
                                            <input type="email" pKeyFilter= "email" class="p-inputtext form-control mt-2" name ="email"id="email"  placeholder="Ingrese el correo electronico" [(ngModel)]="emailUsuario" #emailUs = "ngModel" required email>
                                            <div class="alert-danger rounded mt-2" *ngIf="emailUs.invalid && (emailUs.dirty || emailUs.touched)">
                                                <div *ngIf="emailUs.errors?.required">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                    El correo es requerido
                                                </div>
                                                <div *ngIf="emailUs.errors?.email">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                    El correo debe tener el formato correcto
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--fin group email-->
                                        <!--group username-->
                                        <div class="form-group mt-2">
                                            <label for="labelUserName">Nombre de usuario</label>
                                            <input type="text" class="p-inputtext form-control mt-2" name ="userName"id="userName"  placeholder="Ingrese el nombre de usuario" [(ngModel)]="userNameUsuario" #userNameUs = "ngModel" required minlength="4">
                                            <div class="alert-danger rounded mt-2" *ngIf="userNameUs.invalid && (userNameUs.dirty || userNameUs.touched)">
                                                <div *ngIf="userNameUs.errors?.required">
                                                <i class="ms-1 bi-x-circle-fill"></i>
                                                    El nombre de usuario es requerido
                                                </div>
                                                <div *ngIf="userNameUs.errors?.minlength">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                        El correo debe tener al menos 4 caracteres
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin group username-->
                                        <!--group password-->
                                        <div class="form-group mt-2">
                                            <label for="labelPassword">Contraseña</label>
                                            <input type="password" class="p-inputtext form-control mt-2" name ="password"id="password"  placeholder="Ingrese la contraseña" [(ngModel)]="passwordUsuario" #passUs = "ngModel" required minlength="8">
                                            <div class="alert-danger rounded mt-2" *ngIf="passUs.invalid && (passUs.dirty || passUs.touched)">
                                                <div *ngIf="passUs.errors?.required">
                                                   <i class="ms-1 bi-x-circle-fill"></i>
                                                     La contraseña es requerida
                                                </div>
                                                <div *ngIf="passUs.errors?.minlength">
                                                    <i class="ms-1 bi-x-circle-fill"></i>
                                                      La contraseña debe tener un minimo de 8 caracteres
                                                </div>
                                            </div>
                                        </div>
                                        <!--fin group password -->
                                    </div>
                                    <div class="card-footer mt-3">
                                        <div class="d-flex justify-content-between">
                                            <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text" label="Cancelar" routerLink="/inicio" ></button>
                                            <button pRipple pButton class="p-button-success p-button-rounded p-button-raised" label="Crear Usuario" [disabled]="!formUsuario.valid"></button>  
                                        </div>
                                    </div>
                                </form>
                                <!-- fin form nuevo usuario-->
                            </div>
                        </div>
                        
                    </div>
                    
				</div>
                <!-- div parte derecha de pantalla -->
				<div class="col-md-5 ">
                    <div class="row ">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-header bg-primary text-white"> 
                                    <i class="bi bi-toggle-on me-1"></i>
                                    Roles a asignar</div>
                                <div class="card-body">
                                    <!-- roles -->
                                <!-- group roles-->
                                <div class="form-group mt-2">
                                    <div class="form-check form-switch mt-2" *ngFor="let rol of roles; let i = index; ">
                                        <input class="form-check-input" type="checkbox" id={{roles[i].name}} [(ngModel)] = "roles[i].active"  [disabled]="roles[i].name=='User'">
                                        <label class="form-check-label fw-bold" for={{roles[i].name}} id={{roles[i].name}}>{{rol.name}}</label>
                                        <p>{{rol.description}}</p>
                                    </div>
                                </div>
                                <!-- fin roles-->
                                </div>
                            </div>

                        </div>
                    </div>
                    
				</div>
			</div>
		</div>
	</div>
    
</div>
<app-footer></app-footer>