<app-nav-bar></app-nav-bar>
<div class="container-xl fadein animation-iteration-1 animation-duration-400">

    <div class="row">
		<div class="col-md-12">
            <p-breadcrumb class="m-2" [model]= "items" [home]="home"></p-breadcrumb>
			<div class="row" >
                <!-- div parte izquierda de pantalla-->
				<div class="col-md-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="card shadow mb-lg-4">
                                <div class="card-header bg-primary text-white">
                                    <i class="bi bi-card-text me-1"></i>
                                    Formulario
                                </div>
                                <!--form nuevo usuario-->
                                <form #formUsuario = ngForm (ngSubmit)= "guardarUsuario(formUsuario)" novalidate>
                                <div class="card-body">
                                        <!--group nombre -->
                                        <div class="form-group">
                                            <label for="labelNombre">Nombre</label>
                                            <input type="text"  class="p-inputtext form-control mt-2" name ="nombre"id="nombre"  placeholder="Ingrese el nombre" [(ngModel)]="nombreUsuario" #nombreUs = "ngModel" pattern={{patronLetras}} minlength="3" required>
                                            <div *ngIf="nombreUs.invalid && (nombreUs.dirty || nombreUs.touched)">
                                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>
                                        <!--fin group nombre-->
                                        <!--group apellido-->
                                        <div class="form-group mt-2">
                                            <label for="labelApellido">Apellidos</label>
                                            <input type="text" class="p-inputtext form-control mt-2" name ="apellido"id="apellido"  placeholder="Ingrese el apellido" [(ngModel)]="apellidoUsuario" #apellidoUs = "ngModel" pattern={{patronLetras}} minlength="3" required>
                                            <div *ngIf="apellidoUs.invalid && (apellidoUs.dirty || apellidoUs.touched)">
                                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.required"  severity="error" text="El apellido es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                            </div>
                                        </div>
                                        <!--fin group apellido-->
                                        <!--group email-->
                                        <div class="form-group mt-2">
                                            <label for="labelEmail">Email</label>
                                            <input type="email" pKeyFilter= "email" class="p-inputtext form-control mt-2" name ="email"id="email"  placeholder="Ingrese el correo electronico" [(ngModel)]="emailUsuario" #emailUs = "ngModel" required email>
                                            <div *ngIf="emailUs.invalid && (emailUs.dirty || emailUs.touched)">
                                                <p-message styleClass="m-1" *ngIf="emailUs.errors?.required"  severity="error" text="El email es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="emailUs.errors?.email"     severity="error" text="Debe tener el formato ejemplo@ejemplo.com"></p-message>
                                            </div>
                                        </div>
                                        <!--fin group email-->
                                        <!--group username-->
                                        <div class="form-group mt-2">
                                            <label for="labelUserName">Nombre de usuario</label>
                                            <input type="text" class="p-inputtext form-control mt-2" name ="userName"id="userName"  placeholder="Ingrese el nombre de usuario" [(ngModel)]="userNameUsuario" #userNameUs = "ngModel" required minlength="4">
                                            <div *ngIf="userNameUs.invalid && (userNameUs.dirty || userNameUs.touched)">
                                                <p-message styleClass="m-1" *ngIf="userNameUs.errors?.required"      severity="error" text="El nombre de usuario es requerido"></p-message>
                                                <p-message styleClass="m-1" *ngIf="userNameUs.errors?.minlength"     severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                                            </div>
                                        </div>
                                        <!--fin group username-->
                                        <!--group password-->
                                        <div class="form-group mt-2">
                                            <label for="labelPassword">Contraseña</label>
                                            <input type="password" class="p-inputtext form-control mt-2" name ="password"id="password"  placeholder="Ingrese la contraseña" [(ngModel)]="passwordUsuario" #passUs = "ngModel" required minlength="8">
                                            <div *ngIf="passUs.invalid && (passUs.dirty || passUs.touched)">
                                                <p-message styleClass="m-1" *ngIf="passUs.errors?.required"  severity="error" text="La contraseña es requerida"></p-message>
                                                <p-message styleClass="m-1" *ngIf="passUs.errors?.minlength" severity="error" text="Debe tener al menos 8 caracteres"></p-message>
                                            </div>
                                        </div>
                                        <!--fin group password -->
                                    </div>
                                    <div class="card-footer mt-3">
                                        <div class="d-flex justify-content-between">
                                            <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text" icon="pi pi-times" label="Cancelar" routerLink="/usuarios/lista" ></button>
                                            <button pRipple pButton class="p-button-primary p-button-rounded p-button-raised" icon="pi pi-check" label="Crear Usuario" [disabled]="!formUsuario.valid"></button>  
                                        </div>
                                    </div>
                                </form>
                                <!-- fin form nuevo usuario-->
                            </div>
                        </div>
                        
                    </div>
                    
				</div>
                <!-- div parte derecha de pantalla -->
				<div class="col-md-5 ">
                    <div class="row ">
                        <div class="col-12">
                            <div class="card shadow">
                                <div class="card-header bg-primary text-white"> 
                                    <i class="bi bi-toggle-on me-1"></i>
                                    Roles a asignar</div>
                                <div class="card-body">
                                    <!-- roles -->
                                <!-- group roles-->
                                <div class="form-group mt-2">
                                    <div class="form-check form-switch mt-2" *ngFor="let rol of roles; let i = index; ">
                                        <input class="form-check-input" type="checkbox" id={{roles[i].name}} [(ngModel)] = "roles[i].active"  [disabled]="roles[i].name=='User'">
                                        <label class="form-check-label fw-bold" for={{roles[i].name}} id={{roles[i].name}}>{{rol.name}}</label>
                                        <p>{{rol.description}}</p>
                                    </div>
                                </div>
                                <!-- fin roles-->
                                </div>
                            </div>

                        </div>
                    </div>
                    
				</div>
			</div>
		</div>
	</div>
    
</div>
<app-footer></app-footer>