<app-nav-bar></app-nav-bar>
<div class="container fadein animation-iteration-1 animation-duration-500">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <app-encabezado-partido [partido]="partido" *ngIf="partido"></app-encabezado-partido>
    <p-accordion [multiple]="true" styleClass="mt-4 shadow-1">
        <p-accordionTab header="JUECES" [selected]="jueces.length > 0">
            <button pRipple pButton class="p-button-rounded p-button-text mb-2" icon="pi pi-plus-circle" label="Nuevo" (click)="showNuevaParticipacionJuez()"></button>
            <br><p-message *ngIf="jueces.length === 0" styleClass="mt-2" severity="info" text="No existen jueces en este partido"></p-message>
            <p-table *ngIf="jueces.length > 0"[value]="jueces" [loading]="loadingJueces" styleClass="p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Juez</th>
                        <th>DNI</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-participacion>
                    <tr>
                        <td>{{participacion.juez.apellidos}} {{participacion.juez.nombres}}</td>
                        <td>{{participacion.juez.documento | number}}</td>
                        <td>{{participacion.rol}}</td>
                        <td>
                            <button pRipple pButton class="p-button-sm p-button-rounded p-button-text" icon="pi pi-pencil" (click)="showEdicionParticipacion(participacion)"></button>
                            <button pRipple pButton class="p-button-sm p-button-rounded p-button-text p-button-danger" icon="pi pi-trash" (click)="eliminarPaticipacionJuez(participacion.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
    <div class="row g-2" *ngIf=partido>
        <div class="col-12 col-md-6">
                <div class="text-lg p-2 bg-blue-500 text-white rounded-3 shadow-3">{{partido.clubLocal}}</div>
                <p-accordion [multiple]="true" styleClass="mb-2" *ngIf="detallePartido">
                    <p-accordionTab header="TITULARES">
                        <app-lista-jugadores-titulares  [partido]="detallePartido" [club]="detallePartido.clubLocal"></app-lista-jugadores-titulares>
                    </p-accordionTab>
                    <p-accordionTab header="SUPLENTES">
                        <app-lista-jugadores-suplentes  [partido]="detallePartido" [club]="detallePartido.clubLocal"></app-lista-jugadores-suplentes>
                    </p-accordionTab>
                    <p-accordionTab header="SUSTITUCIONES">
                        <app-lista-sustituciones [partido]="detallePartido" [club]="detallePartido.clubLocal"></app-lista-sustituciones>
                    </p-accordionTab>
                    <p-accordionTab header="ANOTACIONES">
                        Content 1
                    </p-accordionTab>
                </p-accordion>
        </div>
        <div class="col-12 col-md-6">
            <div class="text-lg p-2 bg-blue-500 text-white rounded-3 shadow-3">{{partido.clubVisitante}}</div>
            <p-accordion [multiple]="true" *ngIf="detallePartido">
                <p-accordionTab header="TITULARES">
                    <app-lista-jugadores-titulares  [partido]="detallePartido" [club]="detallePartido.clubVisitante"></app-lista-jugadores-titulares>
                </p-accordionTab>
                <p-accordionTab header="SUPLENTES">
                    <app-lista-jugadores-suplentes [partido]="detallePartido" [club]="detallePartido.clubVisitante"></app-lista-jugadores-suplentes>
                </p-accordionTab>
                <p-accordionTab header="SUSTITUCIONES">
                    <app-lista-sustituciones [partido]="detallePartido" [club]="detallePartido.clubVisitante"></app-lista-sustituciones>
                </p-accordionTab>
                <p-accordionTab header="ANOTACIONES">
                    Content 1
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="my-4 py-4 d-flex justify-content-center card-footer">
        <button pRipple pButton class="p-button-rounded p-button-danger p-button-text mr-3" icon="pi pi-arrow-left" label="Volver" (click)="goBack()"></button>
        <button pRipple pButton class="p-button-rounded p-button-raised" icon="pi pi-check" label="Finalizar Partido" (click)="finalizarPartido()"></button>
    </div>
</div>
<app-footer></app-footer>
