<app-nav-bar></app-nav-bar>
<div class="container">
    <h2 class="mt-4">Listado de Usuarios</h2>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active">Listado</li>
    </ol>
    <div class="mt-4">
        <button class="btn btn-success"> <i class="bi bi-plus-circle"> </i> Nuevo Usuario</button>
    </div>
    <div class="row justify-content-center mt-4">
        <div>
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">Usuarios</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Id</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Fecha Creacion</th>
                                            <th scope="col">Fecha Actualización</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let usuario of usuarios">
                                            <td>{{ usuario.id }}</td>
                                            <td>{{ usuario.nombreUsuario }}</td>
                                            <td>{{ usuario.nombre}}</td>
                                            <td>{{ usuario.apellido }}</td>
                                            <td>{{ usuario.email}}</td>
                                            <td>
                                                <span [ngClass] = "usuario.activo? 'badge rounded-pill bg-success':'badge rounded-pill bg-danger'">
                                                    {{usuario.activo? "Activo": "Inactivo" }}
                                                </span>
                                            </td>
                                            <td>{{ usuario.fechaCreacion}}</td>
                                            <td>{{ usuario.fechaActualizacion }}</td>
                                            <td>{{ usuario.tokenPassword}}</td>
                                           
                                        </tr>                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
