<app-nav-bar></app-nav-bar>
<div class="container">
    <h3 class="mt-2">Listado de Usuarios</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active">Listado</li>
    </ol>
    <div class="mt-4">
        <button class="btn btn-success" routerLink="/usuarios/nuevo"> <i class="bi bi-plus-circle me-1"> </i> Nuevo Usuario</button>
    </div>
    <div class="row justify-content-center mt-4">
        <div>
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <i class="bi bi-table me-1"></i>
                    Usuarios
                </div>
                <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover" *ngIf="usuarios.length > 0">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Id</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Creado</th>
                                            <th scope="col">Actualizado</th>
                                            <th scope="col">Acciones</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center align-middle" *ngFor="let usuario of usuarios">
                                            <td>{{ usuario.id }}</td>
                                            <td>{{ usuario.nombreUsuario }}</td>
                                            <td>{{ usuario.nombre}}</td>
                                            <td>{{ usuario.apellido }}</td>
                                            <td>{{ usuario.email}}</td>
                                            <td>
                                                <span [ngClass] = "usuario.activo? 'badge rounded-pill bg-success':'badge rounded-pill bg-danger'">
                                                    {{usuario.activo? "Activo": "Inactivo" }}
                                                </span>
                                            </td>
                                            <td>{{ usuario.fechaCreacion | date:"short" }}</td>
                                            <td>{{ usuario.fechaActualizacion | date:"short" }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm m-1" routerLink="/usuarios/detalle/{{usuario.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" *ngIf="usuario.nombreUsuario!='admin'">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                                <button class="btn btn-success btn-sm" (click) ="darDeAltaUsuario(usuario.id)" *ngIf="usuario.activo == false && usuario.nombreUsuario!='admin'" data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de alta"> 
                                                    <i class="fas fa-user-check"></i>
                                                </button>
                                                    
                                                <button class="btn btn-danger btn-sm" (click)="darDeBajaUsuario(usuario.id)" *ngIf="usuario.activo == true && usuario.nombreUsuario!='admin'" data-bs-toggle="tooltip" data-bs-placement="top" title="Dar de baja">
                                                    <i class="fas fa-user-times"></i>
                                                </button>
                                                <button class="btn btn-warning"  *ngIf="usuario.nombreUsuario == 'admin'" data-bs-toggle="tooltip" data-bs-placement="top" title="Sin acciones">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </button>
                                                
                                            </td>
                                        </tr>                                    
                                    </tbody>
                                </table>
                                <div *ngIf="usuarios.length == 0"><h3>No se encontraron registros</h3></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
