<app-nav-bar></app-nav-bar>
<!-- contenido-->
<!-- titulo-->
<div class="container fadein animation-iteration-1 animation-duration-400">
    <p-breadcrumb class="m-2" [model]="items" [home]="home"></p-breadcrumb>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-lg-4">
                <div class="card-header bg-primary text-white">
                    <i class=" bi bi-card-text me-1"></i>
                    Formulario
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form #form = "ngForm" (ngSubmit)="actualizarDatos()" novalidate>
                    <div class="card-body">
                        <!--group nombre-->
                        <div class="form-group">
                            <label for="label">Nombre</label>
                            <input type="text" class="p-inputtext form-control mt-2" name ="nombreUsuario" id = "nombreUsuario" value = {{usuario.nombre}} placeholder="Nombre" [(ngModel)] = "usuario.nombre" #nombreUs = "ngModel" pattern={{patronLetras}} minlength="3" required [disabled]="usuario.nombreUsuario == 'admin'">
                            <div *ngIf="nombreUs.invalid && (nombreUs.dirty || nombreUs.touched)">
                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.required"  severity="error" text="El nombre es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                <p-message styleClass="m-1" *ngIf="nombreUs.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                            </div>
                        </div>
                        <!--fin nombre-->
                        <!--group apellido-->
                        <div class="form-group mt-2">
                            <label for="labelApelldio">Apellido</label>
                            <input type="text" class="p-inputtext form-control mt-2" name ="apellido" value = {{usuario.apellido}} placeholder="Apellido" [(ngModel)]="usuario.apellido" #apellidoUs= "ngModel" pattern={{patronLetras}} minlength="3" required [disabled]="usuario.nombreUsuario == 'admin'">
                            <div *ngIf="apellidoUs.invalid && (apellidoUs.dirty || apellidoUs.touched)">
                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.required"  severity="error" text="El apellido es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.pattern"   severity="error" text="Solo se permiten letras"></p-message>
                                <p-message styleClass="m-1" *ngIf="apellidoUs.errors?.minlength" severity="error" text="Debe tener al menos 3 caracteres"></p-message>
                            </div>
                        </div>
                        <!--fin apellido-->
                        <!--group nombre usuario-->
                        <div class="form-group mt-2">
                            <label for="label usuario">Nombre de usuario</label>
                            <input type="text" class="p-inputtext form-control mt-2" name ="NombreUsuario" value = {{usuario.nombreUsuario}} placeholder= "Nombre de usuario" [(ngModel)]="usuario.nombreUsuario" #userName = "ngModel" required minlength="4" [disabled]="usuario.nombreUsuario == 'admin'">
                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                                <p-message styleClass="m-1" *ngIf="userName.errors?.required" severity="error" text="El nombre de usuario es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="userName.errors?.minlength" severity="error" text="Debe tener al menos 4 caracteres"></p-message>
                            </div>
                        </div>
                        <!--fin nombre usuario-->
                        <!--group correo-->
                        <div class="form-group mt-2">
                            <label for="labelCorreo">Correo</label>
                            <input type="email" class="p-inputtext form-control mt-2" name="Correo" value= {{usuario.email}} placeholder="Correo electrónico" [(ngModel)]="usuario.email" #emailUs = "ngModel" required email [disabled]="usuario.nombreUsuario == 'admin'">
                            <div *ngIf="emailUs.invalid && (emailUs.dirty || emailUs.touched)">
                                <p-message styleClass="m-1" *ngIf="emailUs.errors?.required" severity="error" text="El email es requerido"></p-message>
                                <p-message styleClass="m-1" *ngIf="emailUs.errors?.email" severity="error" text="Debe tener el formato ejemplo@ejemplo.com"></p-message>
                            </div>
                            
                        </div>
                        <!--fin group correo-->
                    </div>
                    <!-- footer card-->  
                    <div class="card-footer mb-2">
                        <div class="d-flex justify-content-between">
                            <button pRipple pButton type="button" class="p-button-danger p-button-rounded p-button-text" icon="pi pi-times" label="Cancelar" (click)= "goBack()"></button>
                            <button pRipple pButton class="p-button-primary p-button-rounded p-button-raised" icon="pi pi-check" label="Guardar" [disabled]="!form.valid"></button>
                        </div>
                    </div>
                    <!-- fin footer card-->
                    </form>
            </div>
        </div>
    </div> 
</div>
<!--fin contenido-->

<app-footer></app-footer>
