<app-nav-bar></app-nav-bar>
<!-- contenido-->
<!-- titulo-->
<div class="container">
    <h3 class="mt-2">Datos personales</h3>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
        <li class="breadcrumb-item">Perfil</li>
        <li class="breadcrumb-item active">Actualizar datos</li>
    </ol>
    <!-- fin titulo-->
    <p style="font-style: italic;">Nota: Deberás iniciar sesión nuevamente luego de actualizar tu información.</p>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow mb-lg-4">
                <div class="card-header bg-primary text-white">
                    <i class=" bi bi-card-text me-1"></i>
                    Formulario
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form #form = "ngForm" (ngSubmit)="actualizarDatos()" novalidate>
                    <div class="card-body">
                        <!--group nombre usuario-->
                        <div class="form-group">
                            <label for="label">Nombre</label>
                            <input type="text" class="form-control mt-2" name ="nombreUsuario" id = "nombreUsuario" value = {{usuario.nombre}} placeholder="Nombre" [(ngModel)] = "usuario.nombre" #nombreUs = "ngModel" pattern="^[a-zA-Z ]{2,254}" required [disabled]="usuario.nombreUsuario == 'admin'">
                            <div class="alert-danger rounded mt-2" *ngIf="nombreUs.invalid && (nombreUs.dirty || nombreUs.touched)">
                                <div *ngIf="nombreUs.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El nombre es requerido
                                </div>
                                <div *ngIf="nombreUs.errors?.pattern">
                                    <i class="ms-1 bi-x-circle-fill"></i>
                                      Solo se permiten letras
                                 </div>
                            </div>
                        </div>
                        <!--fin nombre usuario-->
                        <!--group apellido-->
                        <div class="form-group">
                            <label for="labelApelldio">Apellido</label>
                            <input type="text" class="form-control mt-2" name ="apellido" value = {{usuario.apellido}} placeholder="Apellido" [(ngModel)]="usuario.apellido" #apellidoUs= "ngModel" pattern="^[a-zA-Z ]{2,254}" required [disabled]="usuario.nombreUsuario == 'admin'">
                            <div class="alert-danger rounded mt-2" *ngIf="apellidoUs.invalid && (apellidoUs.dirty || apellidoUs.touched)">
                                <div *ngIf="apellidoUs.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El nombre es requerido
                                </div>
                                <div *ngIf="apellidoUs.errors?.pattern">
                                    <i class="ms-1 bi-x-circle-fill"></i>
                                      Solo se permiten letras
                                 </div>
                            </div>
                        </div>
                        <!--fin apellido-->
                        <!--group nombre usuario-->
                        <div class="form-group">
                            <label for="label usuario">Nombre de usuario</label>
                            <input type="text" class="form-control mt-2" name ="NombreUsuario" value = {{usuario.nombreUsuario}} placeholder= "Nombre de usuario" [(ngModel)]="usuario.nombreUsuario" #userName = "ngModel" required [disabled]="usuario.nombreUsuario == 'admin'">
                            <div class="alert-danger rounded mt-2" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                                <div *ngIf="userName.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El nombre es requerido
                                </div>
                            </div>
                        </div>
                        <!--fin nombre usuario-->
                        <!--group correo-->
                        <div class="form-group mt-2">
                            <label for="labelCorreo">Correo</label>
                            <input type="email" class="form-control mt-2" name="Correo" value= {{usuario.email}} placeholder="Correo electrónico" [(ngModel)]="usuario.email" #emailUs = "ngModel" required email [disabled]="usuario.nombreUsuario == 'admin'">
                            <div class="alert-danger rounded mt-2" *ngIf="emailUs.invalid && (emailUs.dirty || emailUs.touched)">
                                <div *ngIf="emailUs.errors?.required">
                                   <i class="ms-1 bi-x-circle-fill"></i>
                                     El nombre es requerido
                                </div>
                                <div *ngIf="emailUs.errors?.email">
                                    <i class="ms-1 bi-x-circle-fill"></i>
                                    El correo debe tener el formato correcto
                                 </div>
                            </div>
                            
                        </div>
                        <!--fin group correo-->
                    </div>
                <!-- footer card-->  
                <div class="mb-2 text-center">
                    <button class="btn btn-success" [disabled]="!form.valid">Actualizar Datos</button>
                    
                </div>
                <!-- fin footer card-->
                </form>
            </div>
        </div>
    </div> 
</div>
<!--fin contenido-->

<app-footer></app-footer>
