<app-nav-bar></app-nav-bar>
<div class="container-xl">
    <ol class="breadcrumb mt-3 mb-4">
        <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/jugadores/lista">Jugadores</a></li>
        <li class="breadcrumb-item active">Pases</li>
    </ol>
    <div class="card shadow mb-4">
      <div class="card-header bg-primary text-white"><i class="fas fa-running me-1"></i> Jugador</div>
      <div class="card-body p-text-normal">
          <h4 class="p-text-normal">Historial de Clubes de "{{detalleJugador.jugador.apellidos}}, {{detalleJugador.jugador.nombre}}"</h4>
          <h5> DNI: {{detalleJugador.jugador.documento}}</h5>
          <h5>Fecha de Nacimiento: {{detalleJugador.jugador.fechaNacimientoParsed | date:fechaCorta}}</h5>      
      </div>
    </div>
    <!--<button pButton class="p-button-help p-button-rounded m-2" icon = "bi bi-plus-circle" label="Nuevo Pase" routerLink="/jugadores/pases/nuevo/{{detalleJugador.jugador.id}}"></button>-->
    <div class="row justify-content-center mt-lg-3">
         <!-- tabla -->
         <div>
            <div class="card shadow">
              <div class="card-header bg-primary text-white">
                <i class="bi bi-table me-1"></i>
                Historial de Clubes
              </div>
              <div class="card-body">
                <p-table #dt [value]="detalleJugador.historialClubes" styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines" dataKey="id" [rows]="5"
                  [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [loading]="loading" [rowHover]="true"
                  [paginator]="true"
                  currentPageReportTemplate="Mostrando {first} de {last} de un total de {totalRecords} registros"
                  [filterDelay]="0">
                  <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-between">
                      <div>
                          <button pRipple pButton class="p-button-rounded p-button-sm me-1"  icon="bi bi-plus-circle" label="Nuevo Pase" routerLink="/jugadores/pases/nuevo/{{detalleJugador.jugador.id}}"></button>
                          <button pRipple pButton class="p-button-sm p-button-outlined p-button-rounded me-1"  icon="pi pi-filter-slash" label="Limpiar Filtros" (click)="clear(dt)"></button>

                      </div>
                      <!--
                      <div>
                          <button pButton class="p-button-danger p-button-sm me-1"  icon="pi pi-file-pdf" pTooltip="Exportar a PDF" tooltipPosition="top" (click)="exportarPdf(dt)"></button>
                          <button pButton class=" p-button-success p-button-sm me-1" icon="pi pi-file-excel" pTooltip="Exportar a Excel" tooltipPosition="bottom" (click)="exportarExcel(dt)"></button>
                      </div> -->
                    </div>
                </ng-template>
                  <ng-template pTemplate="header">
                    <tr class="text-center">
                        <!--column Id-->
                        <th class="text-center" pSortableColumn="id">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Id
                                <p-sortIcon field="id"></p-sortIcon>
                                <p-columnFilter type="numeric" field="id" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <!--column fecha-->
                        <th class="text-center" pSortableColumn="fechaParsed">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Fecha
                                <p-sortIcon field="fechaParsed"></p-sortIcon>
                                <p-columnFilter type="date" field="fechaParsed" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <!-- column fecha desde-->
                        <th class="text-center" pSortableColumn="fechaDesdeParsed">
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Fecha Desde
                            <p-sortIcon field="fechaDesdeParsed"></p-sortIcon>
                            <p-columnFilter type="date" field="fechaDesdeParsed" display="menu" class="p-ml-auto"></p-columnFilter>
                          </div>                        
                        </th>
                        <!-- column fecha hasta-->
                        <th class="text-center" pSortableColumn="fechaHastaParsed">
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Fecha Hasta
                            <p-sortIcon field="fechaHastaParsed"></p-sortIcon>
                            <p-columnFilter type="date" field="fechaHastaParsed" display="menu" class="p-ml-auto"></p-columnFilter>
                          </div>        
                        </th>
                        <!-- column edad en pase-->
                        <th class="text-center" pSortableColumn="edadEnPase">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Edad
                              <p-sortIcon field="edadEnPase"></p-sortIcon>
                              <p-columnFilter type="numeric" field="edadEnPase" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>        
                        </th>
                        <!-- column club destino-->
                        <th class="text-center" pSortableColumn="club.nombreClub">
                            <div class="p-d-flex p-jc-between p-ai-center">
                              Club
                              <p-sortIcon field="club.nombreClub"></p-sortIcon>
                              <p-columnFilter type="text" field="club.nombreClub" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>        
                        </th>
                        <!-- column motivo-->
                        <th class="text-center" pSortableColumn="motivo">
                          <div class="p-d-flex p-jc-between p-ai-center">
                            Motivo
                            <p-sortIcon field="motivo"></p-sortIcon>
                            <p-columnFilter type="text" field="motivo" display="menu" class="p-ml-auto"></p-columnFilter>
                          </div>        
                      </th>
                        <!-- columna acciones-->
                        <th class="text-center">Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-pase>
                    <tr>
                      <td>{{pase.id}}</td>
                      <td>{{pase.fechaParsed | date : fechaCorta}}</td>
                      <td>{{pase.fechaDesdeParsed | date : fechaCorta}}</td>
                      <td><span [ngClass]="pase.fechaHastaParsed == null ? 'badge rounded-pill bg-primary' : ''">{{pase.fechaHastaParsed != null ? (pase.fechaHastaParsed | date : fechaCorta) : 'CONTINUA'}}</span></td>
                      <td>{{pase.edadEnPase}}</td>
                      <td>{{pase.club.nombreClub}}</td>
                      <td>{{pase.motivo}}</td>
                      <td class="text-center">
                        <!--<button class="btn btn-success btn-sm me-1" routerLink="/jugadores/club/{{club.id}}" pTooltip="Ver Jugadores" tooltipPosition = "top">
                            <i class="fas fa-running"></i>
                        </button>
                        <button class="btn btn-primary btn-sm me-1" routerLink="/clubes/detalle/{{club.id}}" pTooltip="Editar" tooltipPosition="top">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="eliminarClub(club.id)" pTooltip="Eliminar" tooltipPosition = "top">
                            <i class="fas fa-trash"></i>
                        </button>-->
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="8">No se encontraron registros.</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
      
            </div>
          </div>
        <!-- fin tabla-->
    </div>
</div>
<app-footer></app-footer>