.image-fondo{
    background-image: url("src/assets/imagenes/fondo1.jpg");
    position: fixed;
    height: 110%;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    
}

h2{
    
     box-sizing: border-box;
    margin: 0;
     padding: 0;   
    font-family: 'Montserrat', sans-serif;
}
.fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


@-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  